*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.block-style{
    width: 25%;
    background: #efefef;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 50px;
    padding-bottom: 15px;
}

.block-logo{
    text-align: center;
}

.logo-style{
    width: 10rem;
    margin-top: 30px;
}

.block-style h1, .block-style h2{
    text-align: center;
}

.link{
    text-align: center;
}

.link a{
    text-decoration: none;
    color: #000;
    font-size: 13px;
}

.link a:hover{
    text-decoration: underline;
}

.input-style, .btn-style{
    display: block;
    margin: 15px auto;
    padding: 2px 10px;
    border-radius: 5px;
    border: solid 1px #919191;
}

.btn-style{
    cursor: pointer;
    transition: all 0.3s;
}

.btn-style:hover{
    background: #FFF;
}